#addButton {
    -fx-background-color: linear-gradient(to bottom, #5adaff, #5468ff);
    -fx-background-radius: 6px;
    -fx-border-width: 0;
    -fx-border-radius: 6px;

    -fx-padding: 0 16;
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-alignment: center;
    -fx-pref-height: 48;
    -fx-wrap-text: false;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

#addButton:hover {
    -fx-translate-y: -2;
}

